.container-mobile-menu{
  position: relative;
}

.control-menu-container{
  display: flex;
  transition: 0.5s;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgb(211, 211, 211);
  font-size: small;
  position: absolute;
  top: 0;
  left: 0;
}

.close-control-menu-container{
  width: 100%;
  margin-bottom: 0.2rem;
}

.close-control-menu{
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  background-color: rgb(175, 175, 175);
  color:white;
  cursor: pointer;
}

.control-menu-wrapper{
  position: fixed;
  z-index: 5;
  top: 0;
  border-radius: 10px;
}

.autosave-button-active{
  background-color: black;
  color: white;
  outline: none;
}

@media(max-width:624px){
  .control-menu-wrapper{
    top: 70px;
  }
}