.title-bolder{
  font-weight: bolder;
  padding: 0 1rem;
}

.popular-tag-link{
  text-decoration: none;
  color: black;
}

.tag-item:hover{
  background-color: rgba(199, 198, 198, 0.253);
}

.tag-item{
  padding: 0.5rem 1rem;
}

.list-tag{
  list-style-type: none;
  padding: 0;
}
