.comment-list__delete-symbol{
  position: absolute;
  bottom: 0;
  cursor: pointer;
  right: 0;
}

.comment-list__comment{
  padding: 1rem;
  position: relative;
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 1rem;
  display: block;
}

.comment-list__created-at{
  color:grey
}

.comment-list__header-comment{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(156, 156, 156, 0.575);
  margin-bottom: 1rem;
}

.comment-list__content{
  font-size: 1.3rem;
}

.comment-list__content p{
  margin: 0;
  margin-bottom: 0.4rem;
}

.comment-list__author-symbol{
  color: grey;
  font-weight: 900;
}

@media(max-width:624px){
  .comment-list__comment{
    padding: 1rem;
  }
}