.section-container__form{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3rem;
}

.comment__number-info span{
  cursor: pointer;
}

.reply-symbol, 
.like-symbol {
  cursor: pointer;
}