.wrapper-vote{
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.wrapper-vote.dark{
  color: white;
  background-color: transparent;
}

.wrapper-vote i{
  cursor: pointer;
  margin: 0.5rem 0;
}

.vote-menu-controller{
  height: 100%;
  display: block;
}

.vote-menu-controller-mobile{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  transition: 0.5s;
}

.vote-menu-controller-mobile .wrapper-vote{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.vote-menu-controller-mobile .wrapper-vote i{
  margin: 0 1rem;
}

.fa-pen-square{
  cursor: pointer;
  background-color: transparent;
}

@media(max-width:1080px){
  .vote-menu-controller{
    margin: 0;
  }
}

@media(max-width:624px){
  .vote-menu-controller{
    width: 0;
    margin: 0;
    display: none;
  }
  .wrapper-vote{
    flex-direction: row;
    font-size: 1.5rem;
    box-shadow: 0 0 3px 1px grey;
    margin-top: 0;
    padding: 0.5rem 0;
  }
  .wrapper-vote i{
    cursor: pointer;
    margin: 0;
  }
  .unsaved-content{
    margin: 0.5rem;
    padding: 0.5rem;  
  }
}

@media(max-width:554px){
  .wrapper-vote{
    display: none;
    margin-top: 0;
    padding: 0.5rem 0;
  }
}