.App-header__list-link-navbar{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.6rem 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.158) ;
}

.App-header__list-link-navbar a{
  text-decoration: none;
}

.App-header__container-wrapper-link{
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  display: flex;
}

.App-header__wrapper-link{
  display: flex;
  align-items: center;
}

.App-header__input-search{
  margin: 0 1rem;
  height: 35px;
  padding-left: 0.3rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  max-width: 420px;
  width: 100%;
}

.App-header__link-navbar-item{
  margin: 0 0.3rem;
  cursor: pointer;
}

.App-header__logo{
  font-weight: 500;
  padding: 0.7rem 0.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.register-link{
  padding: 0.6rem;
  color: white;
  border-radius: 5px;
  background-color: #323EBE;
}

.login-link{
  color: #323EBE;
  font-weight: 600;
}

.header-bars{
  cursor: pointer;
  margin: 0 1rem;
}

@media(max-width:500px){
  .App-header__container-wrapper-link{
    width: 100%;
  }
}