.App-header__list-link-navbar{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.6rem 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.158) ;
  position: relative;
}

.App-header__search-mobile-post{
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  z-index: 5;
}

.App-header__search-mobile-post input{
  display: block;
  width: 92%;
  border: none;
  margin: auto;
  padding: 1rem 0;
  outline: none;
}

.App-header__side-bar-container{
  background-color: rgb(230, 232, 245);
  width: 170px;
  height: 100%;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.App-header__block-side-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.App-header__side-bar ul{
  list-style-type: none;
}

.App-header__tags-link{
  text-decoration: none;
  color: black;
}

.App-header__tags-link div{
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.App-header__tags-link div:hover{
  background-color: rgba(199, 198, 198, 0.253);
}

.App-header__list-link-navbar a{
  text-decoration: none;
}

.App-header__container-wrapper-link{
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  display: flex;
}

.App-header__wrapper-link{
  display: flex;
  align-items: center;
}

.App-header__input-search{
  margin: 0 1rem;
  height: 35px;
  padding-left: 0.3rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  max-width: 420px;
  width: 100%;
}

.App-header__link-navbar-item{
  margin: 0 0.3rem;
  cursor: pointer;
  color: black;
}

.App-header__logo{
  font-weight: 500;
  padding: 0.7rem 0.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.register-link{
  padding: 0.6rem;
  color: white;
  border-radius: 5px;
  background-color: #323EBE;
}

.item-account-info{
  padding: 0.6rem;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
}

.item-link-account{
  background-color: white;
  padding: 0.2rem 1rem;
  white-space: nowrap;
  color: black;
}

.item-link-account:hover{
  background-color: rgb(180, 180, 180);
}

.item-account-info:hover .list-link-account{
  display: block;
}

.list-link-account{
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid black;
  display: none;
}

.login-link{
  color: black;
  font-weight: 600;
}

.header-bars{
  cursor: pointer;
  margin: 0 1rem;
}

.header-bars-mobile{
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.search-symbol{
  cursor: pointer;
  display: block;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
}

@media(max-width:500px){
  .App-header__container-wrapper-link{
    width: 100%;
  }
}