.section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-container{
  resize: none;
  display: block;
  width: 100%;
  height: 100px;
  font-size: 2rem;
}

.button-submit{
  display: block;
  width: 60px;
  height: 30px;
  margin-top: 1rem;
}

.comment-list{
  width: 100%;
  font-size: 1.6rem;
  list-style-type: none;
}

.comment-list__comment{
  padding: 1rem;
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 1rem;
  display: block;
}

.comment-list__created-at{
  color:grey
}

.comment-list__header-comment{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(156, 156, 156, 0.575);
  margin-bottom: 1rem;
}

.comment-list__content{
  font-size: 1.3rem;
}

.comment-list__author-symbol{
  color: grey;
  font-weight: 900;
}

.page-comment-list{
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.page-comment-list li{
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.2rem;
  background-color: grey;
  color: white;
}

.page-comment-list li.active{
  background-color: black;
}

.comment__number-info{
  font-size: 1rem;
}

.comment__number-info span{
  margin-right: 1rem;
  cursor: pointer;
}

.comment__number-info span:hover{
  text-decoration: underline;
}