.section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
}

.textarea-container{
  resize: none;
  display: block;
  width: 100%;
  height: 100px;
  font-size: 2rem;
}

.button-submit{
  display: block;
  width: 60px;
  height: 30px;
  margin-top: 1rem;
}

.comment-list{
  width: 100%;
  font-size: 1.6rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-comment-list{
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.page-comment-list li{
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.2rem;
  background-color: grey;
  color: white;
}

.page-comment-list li.active{
  background-color: black;
}

.comment__number-info{
  font-size: 1rem;
}

.comment__number-info span{
  margin-right: 1rem;
}

.comment__number-info span:hover{
  text-decoration: underline;
}