.header-container-title{
  width: 90%;
  background-color: white;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.322);
}

.container-search-posts{
  display: flex;
  width: 100%;
  max-width: 1231px;
  margin: auto;
}

.container-search-posts__list-post{
  width: 100%;
}

.container-search-posts__list-post.dark .header-container-title{
  background-color: black;
  color:white;
}

.container-search-posts__list-latest-post{
  width: 35%;
  margin-right: 1rem;
}

@media(max-width:878px){
  .container-search-posts{
    flex-direction: column;
  }
  .container-search-posts__list-latest-post{
    display: none;
  }
}